block footer

    footer#footer.footer

        .footer__top

            .container

                .footer__wrap

                    .footer__nav.swiper
                        ul.swiper-wrapper
                            li.swiper-slide
                                a(href="#") Кальяны
                            li.swiper-slide
                                a(href="#") Уголь
                            li.swiper-slide
                                a(href="#") Аксессуары и комплектующие
                            li.swiper-slide
                                a(href="#") Колбы
                            li.swiper-slide
                                a(href="#") Шахты
                            li.swiper-slide
                                a(href="#") Смеси
                            li.swiper-slide
                                a(href="#") Блог

                    .footer__contacts
                        ul.footer__socials
                            li
                                a(href="#")
                                    i.fab.fa-instagram
                            li
                                a(href="#")
                                    i.fab.fa-vk
                            li
                                a(href="#")
                                    i.fab.fa-facebook-f
                            li
                                a(href="#")
                                    i.fab.fa-telegram-plane

                        a.footer__phone(href="tel:88005001000") 8 800 500 10000


        .footer__bottom

            .container

                .footer__wrap

                    .footer__left

                        .footer__logo
                            img(src="assets/images/logo_footer.svg", alt="logo")

                        .footer__menu
                            ul
                                li
                                    a(href="#") Оплата
                                li
                                    a(href="#") Возврат товара
                                li
                                    a(href="#") Для оптовиков

                            ul
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Доставка
                                li
                                    a(href="#") Контакты

                    .footer__right

                        .footer__links
                            ul
                                li
                                    a(href="#") Карта сайта
                                li
                                    a(href="#") Политика конфиденциальности
                                li
                                    a(href="https://di-project.ru" target="_blank") Разработка сайта&nbsp;
                                    | Di-Project

                        .footer__callback
                            span Мы можем перезвонить вам в удобное время, закажите обратный звонок
                            button#callbackBtn.callback-btn
                                i.far.fa-phone
                                | Обратный звонок