block footer

    header#header.header

        .container

            .header__wrapper

                // Header Mobile::Start
                .header-mobile

                    .header-mobile__icon
                        .header-mobile__burger
                            span

                    .header-mobile__inner

                        .header-mobile__head
                            a.mobile-menu_btn-close
                                i.fal.fa-times

                        .header-mobile__nav
                            ul
                                li
                                    a.mobile__nav-link(href="#") Кальяны
                                    ul.nav-submenu
                                        a.nav-menu-back
                                                i.fal.fa-chevron-left
                                                span Назад
                                        span.nav-menu-cat(href="#") Кальяны

                                        li
                                            a(href="#") Кальяны Fabula
                                        li
                                            a(href="#") Кальяны Khalil Mamoon
                                        li
                                            a(href="#") Кальяны 7 Star
                                        li
                                            a(href="#") Кальяны Skyseven
                                        li
                                            a(href="#") Кальяны Khalil Mamoon
                                        li
                                            a(href="#") Кальяны VooDoo Smoke
                                        li
                                            a(href="#") Кальяны Pharaon
                                        li
                                            a(href="#") Кальяны Maklaud
                                        li
                                            a(href="#") Кальяны Bohemia
                                        li
                                            a(href="#") Кальяны Skyseven
                                        li
                                            a(href="#") Кальяны Pharaon
                                li
                                    a.mobile__nav-link(href="#") Уголь
                                li
                                    a.mobile__nav-link(href="#") Аксессуары и комплектующие
                                li
                                    a.mobile__nav-link(href="#") Колбы
                                li
                                    a.mobile__nav-link(href="#") Шахты
                                li
                                    a.mobile__nav-link(href="#") Смеси
                                li
                                    a.mobile__nav-link(href="#") Блог

                        .header-mobile__menu
                            ul
                                li
                                    a(href="#") Оплата
                                li
                                    a(href="#") Возврат товара
                                li
                                    a(href="#") Для оптовиков
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Доставка
                                li
                                    a(href="#") Контакты

                        .header-mobile__contacts
                            a(href="tel:88005001000") 8 800 500 10000
                            span г.Москва, ул. Большая Юшуньская, д.1а, корп.4

                        .header-mobile__socials
                            ul
                                li
                                    a(href="#")
                                        i.fab.fa-instagram
                                li
                                    a(href="#")
                                        i.fab.fa-vk
                                li
                                    a(href="#")
                                        i.fab.fa-facebook-f
                                li
                                    a(href="#")
                                        i.fab.fa-telegram-plane
                // Header Mobile::End

                // Header LEFT::Start
                .header__left

                    .header__top

                        .header__menu.header__menu-left
                            ul
                                li
                                    a(href="#") Оплата
                                li
                                    a(href="#") Возврат товара
                                li
                                    a(href="#") Для оптовиков

                        .header__socials
                            ul
                                li
                                    a(href="#")
                                        i.fab.fa-instagram
                                li
                                    a(href="#")
                                        i.fab.fa-vk
                                li
                                    a(href="#")
                                        i.fab.fa-facebook-f
                                li
                                    a(href="#")
                                        i.fab.fa-telegram-plane

                    .header__bottom

                        .header__nav
                            ul
                                li
                                    a(href="#") Кальяны
                                li
                                    a(href="#") Уголь
                                li
                                    a(href="#") Аксессуары и комплектующие
                // Header LEFT::End

                // LOGO::Start
                .header__logo
                    img(src="assets/images/logo_header.svg", alt="logo")
                // LOGO::End

                // Header RIGHT::Start
                .header__right

                    .header__top

                        .header__menu.header__menu-right
                            ul
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Доставка
                                li
                                    a(href="#") Контакты

                        a.header__phone(href="tel:88005001000") 8 800 500 10000

                    .header__bottom

                        .header__nav
                            ul
                                li
                                    a(href="#") Колбы
                                li
                                    a(href="#") Шахты
                                li
                                    a(href="#") Смеси
                                li
                                    a(href="#") Блог

                        .header__shops

                            .favorite-link.shop-link
                                .shop__icon
                                    a(href="#")
                                        i.fal.fa-heart
                                    span 0

                            .cart-link.shop-link
                                .shop__icon
                                    a(href="#")
                                        i.fal.fa-shopping-cart
                                    span 0
                                span Корзина
                // Header RIGHT::End