script(src="assets/js/jquery.min.js")
script(src="assets/js/plugins/jquery-ui.min.js")
script(src="assets/js/plugins/swiper-bundle.min.js")
script(src="assets/js/catalog-items.js")
script(src="assets/js/slider-items.js")
script(src="assets/js/popup.js")
script(src="assets/js/contact-map.js")
script(src="assets/js/catalog.js")
script(src="assets/js/main.js")