.page__pagination
    a.page__pagination-prev
        i.fas.fa-chevron-left
    .page__pagination-numbers
        a.page__pagination-number.active 1
        a.page__pagination-number 2
        a.page__pagination-number 3
        a.page__pagination-number 4
        a.page__pagination-number 5
    a.page__pagination-next
        i.fas.fa-chevron-right