---
title: Magix Shisha | О нас
---

extends includes/_page

block main

    .container

        include components/_breadcrumbs
        +breadcrumbs('О нас')

        h1.page__title О нас

    .page__about

        .container

            .page__about-top

                .page__about-img
                    img(src='/assets/images/about.jpg' alt='')

                .page__about-content
                    .content__title--strong Magix Shisha - это не просто интернет-магазин, это международная компания, которая существует долгие годы на рынке кальянной индустрии
                    p.content-paragraph
                    | Наша компания представляет из себя семейный бизнес и родился он в 2008 году. Его целью, было, есть и остается  предоставление нашим клиентам  оптимального ассортимента качественных  кальянов и аксессуаров к ним по лучшим ценам.
                    p.content-paragraph
                    | Прошло совсем немного времени, и мы смогли вырасти в настоящую  международную  компанию с розничными точками продаж в Великобритании, Австралии, Объединенных Арабских Эмиратах и, конечно же, в России.
                    p.content-paragraph
                    | Мы внимательно следим за современной кальянной индустрией, наша продукция всегда отвечает высоким современным запросам, мы поддерживаем, а иногда и сами задаем кальянную моду. Наиболее важным является то, что любой продукт компании, перед тем как попасть на рынок продаж, проходит  тщательный   экспертный  контроль. Приобретая продукцию Magix Shisha,   Вы можете на 100 % быть уверены в качестве  товара, его лучшей цене и актуальности на современном рынке.
                    p.content-paragraph
                    strong
                        | Magix Shisha c удовольствием предлагает Вам широкий ассортимент не только кальянов, но и аксессуаров к ним, включая шланги для кальяна, чаши для кальяна, мундштуки для кальяна, уголь для кальяна и много другое.
                    .content__title ОСНОВНЫЕ  НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ:
                    .content__list
                    p
                        | - Максимально полно удовлетворить спрос клиентов, как на розничные,  так и на оптовые объемы кальянной продукции
                    p - Доставка товаров в любую точку России
                    p - Выстраивание взаимовыгодных отношений с оптовиками и дистрибьюторами
                    p - Помогать поклонникам кальянной культуры приобретать нужный им товар

            .page__about-bottom

                .content__title ОСНОВНЫЕ  НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ НАШЕЙ КОМПАНИИ:

                ol.content__ol
                    li У нас большой ассортимент продукции кальянных изделий и аксессуаров к ним, предоставляем на выбор товары нашего производства Magix, а также товары наших партнеров по доступным ценам
                    li Для наших партнеров и постоянных клиентов действует специальная система скидок
                    li Вы можете приехать к нам на точку или заказать продукт в нашем интернет магазине с доставкой
                    li Позвоните нам или напишите в WhatsApp и получите бесплатную консультацию и подбор нужного продукта от наших специалистов в кальянной индустрии

                p.content-paragraph
                    strong Всегда рады помочь предоставить качественный товар по оптимальной цене, ведь для нас важно, чтобы мы помогли приобрести тот продукт, который действительно вам нужен!

            a.btn__back(href='')
                i.fas.fa-redo
                |  Вернуться назад
