---
title: Magix Shisha | Название новости или статьи
---

extends includes/_page

block main

    .blog__detail

        .blog__detail-header
            .container

                .page__breadcrumbs
                    a.page__breadcrumbs-item(href='#') Главная
                    span.page__breadcrumbs-separator /
                    a.page__breadcrumbs-item Блог
                    span.page__breadcrumbs-separator /
                    .page__breadcrumbs-item Название новости или статьи

                h1.blog__detail-title Название новости или статьи

            .blog__detail-img
                img(src='assets/images/viktor-forgacs-r3SkTAMGeUg-unsplash.jpg' alt='img')

        .blog__detail-content
            .container

                .blog__detail-content-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do

                .blog__detail-content-date
                    i.far.fa-calendar
                    |  22/02/22

                .blog__detail-content-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                a.blog__detail-btn(href='')
                    i.fas.fa-redo
                    |  Вернуться назад
