---
title: Magix Shisha | Блог
---

extends includes/_page

block main

    .container

        include components/_breadcrumbs
        +breadcrumbs('Блог')

        h1.page__title Блог

    .blog__page
        .container

            .blog__page-content

                .blog__page-items

                    a.blog__page-item(href='#')

                        .blog__page-item-img
                            img(src='/assets/images/img_1.jpg' alt='img')
                        .blog__page-item-content
                            .blog__page-item-title Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            .blog__page-item-date
                                i.far.fa-calendar
                                |  22/02/22
                            .blog__page-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor aliqua. Ut enim ad minim veniam
                            span &gt;&gt;

                    a.blog__page-item(href='#')

                        .blog__page-item-img
                            img(src='/assets/images/img_2.jpg' alt='img')
                        .blog__page-item-content
                            .blog__page-item-title Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            .blog__page-item-date
                                i.far.fa-calendar
                                |  22/02/22
                            .blog__page-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor aliqua. Ut enim ad minim veniam
                            span &gt;&gt;

                    a.blog__page-item(href='#')

                        .blog__page-item-img
                            img(src='/assets/images/img_3.jpg' alt='img')
                        .blog__page-item-content
                            .blog__page-item-title Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            .blog__page-item-date
                                i.far.fa-calendar
                                |  22/02/22
                            .blog__page-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor aliqua. Ut enim ad minim veniam
                            span &gt;&gt;

                    a.blog__page-item(href='#')

                        .blog__page-item-img
                            img(src='/assets/images/img_4.jpg' alt='img')
                        .blog__page-item-content
                            .blog__page-item-title Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            .blog__page-item-date
                                i.far.fa-calendar
                                |  22/02/22
                            .blog__page-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor aliqua. Ut enim ad minim veniam
                            span &gt;&gt;


                .page__pagination
                    a.page__pagination-prev
                        i.fas.fa-chevron-left
                    .page__pagination-numbers
                        a.page__pagination-number.active 1
                        a.page__pagination-number 2
                        a.page__pagination-number 3
                        a.page__pagination-number 4
                        a.page__pagination-number 5
                    a.page__pagination-next
                        i.fas.fa-chevron-right


            .blog__page-desciption

                .blog__page-desciption-content

                    .blog__page-desciption-title Читайте полезные статьи в нашем блоге
                    .blog__page-desciption-text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde.
