---
title: Magix Shisha | Каталог
---

extends includes/_page

block main

    .container

        include components/_breadcrumbs
        +breadcrumbs('Кальяны')

        h1.page__title Кальяны

        span.content-text С вопросом выбора сталкивается каждый желающий купить хороший кальян. В нашем интернет-магазине вы найдёте исчерпывающие ответы и компетентную помощь. Хотите приобрести кальян в подарок или просто для приятного досуга с друзьями, перед вами лучшие классические модели и современные вариации с высокими курительными характеристиками. Выбирайте сами или обращайтесь к нам. Вместе мы найдём идеальное ценовое решение.

        .catalog__wrapper

            .aside-menu-layer

            .aside__block

                .aside__head
                    i.fal.fa-times

                .aside__inner

                    .aside__filter.opened
                        p.filter__title Кальяны
                        ul.filter__subcat(style="display: block")
                            li.filter__subcat-item
                                a(href="#") Кальяны Alpha Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Amy Deluxe
                            li.filter__subcat-item
                                a(href="#") Кальяны 7 Star
                            li.filter__subcat-item
                                a(href="#") Кальяны MattPear
                            li.filter__subcat-item
                                a(href="#") Кальяны Mamay Customs
                            li.filter__subcat-item
                                a(href="#") Кальяны Pizduk
                            li.filter__subcat-item
                                a(href="#") Кальяны Mexanika Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Magix
                            li.filter__subcat-item
                                a(href="#") Кальяны Mr. Woody
                            li.filter__subcat-item
                                a(href="#") Кальяны Formula
                            li.filter__subcat-item
                                a(href="#") Кальяны Union Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Starbuzz
                            li.filter__subcat-item
                                a(href="#") Кальяны Skyseven
                            li.filter__subcat-item
                                a(href="#") Кальяны Soft Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Khalil Mamoon
                            li.filter__subcat-item
                                a(href="#") Кальяны Fabula
                            li.filter__subcat-item
                                a(href="#") Кальяны Стеклянные кальяны
                            li.filter__subcat-item
                                a(href="#") Кальяны Подарочные кальяны

                    .aside__filter
                        p.filter__title Уголь
                        ul.filter__subcat
                            li.filter__subcat-item
                                a(href="#") Кальяны Alpha Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Amy Deluxe
                            li.filter__subcat-item
                                a(href="#") Кальяны 7 Star
                            li.filter__subcat-item
                                a(href="#") Кальяны MattPear
                            li.filter__subcat-item
                                a(href="#") Кальяны Mamay Customs
                            li.filter__subcat-item
                                a(href="#") Кальяны Pizduk
                            li.filter__subcat-item
                                a(href="#") Кальяны Mexanika Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Magix
                            li.filter__subcat-item
                                a(href="#") Кальяны Mr. Woody
                            li.filter__subcat-item
                                a(href="#") Кальяны Formula
                            li.filter__subcat-item
                                a(href="#") Кальяны Union Hookah

                    .aside__filter
                        p.filter__title Аксессуары и комплектующие
                        ul.filter__subcat
                            li.filter__subcat-item
                                a(href="#") Кальяны Formula
                            li.filter__subcat-item
                                a(href="#") Кальяны Union Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Starbuzz
                            li.filter__subcat-item
                                a(href="#") Кальяны Skyseven
                            li.filter__subcat-item
                                a(href="#") Кальяны Soft Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Khalil Mamoon
                            li.filter__subcat-item
                                a(href="#") Кальяны Fabula
                            li.filter__subcat-item
                                a(href="#") Кальяны Стеклянные кальяны
                            li.filter__subcat-item
                                a(href="#") Кальяны Подарочные кальяны

                    .aside__filter
                        p.filter__title Колбы
                        ul.filter__subcat
                            li.filter__subcat-item
                                a(href="#") Кальяны Alpha Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Amy Deluxe
                            li.filter__subcat-item
                                a(href="#") Кальяны 7 Star
                            li.filter__subcat-item
                                a(href="#") Кальяны MattPear
                            li.filter__subcat-item
                                a(href="#") Кальяны Mamay Customs
                            li.filter__subcat-item
                                a(href="#") Кальяны Pizduk
                            li.filter__subcat-item
                                a(href="#") Кальяны Mexanika Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Magix
                            li.filter__subcat-item
                                a(href="#") Кальяны Mr. Woody
                            li.filter__subcat-item
                                a(href="#") Кальяны Formula
                            li.filter__subcat-item
                                a(href="#") Кальяны Union Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Starbuzz
                            li.filter__subcat-item
                                a(href="#") Кальяны Skyseven
                            li.filter__subcat-item
                                a(href="#") Кальяны Soft Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Khalil Mamoon
                            li.filter__subcat-item
                                a(href="#") Кальяны Fabula
                            li.filter__subcat-item
                                a(href="#") Кальяны Стеклянные кальяны
                            li.filter__subcat-item
                                a(href="#") Кальяны Подарочные кальяны

                    .aside__filter
                        p.filter__title Шахты
                        ul.filter__subcat
                            li.filter__subcat-item
                                a(href="#") Кальяны Khalil Mamoon
                            li.filter__subcat-item
                                a(href="#") Кальяны Fabula
                            li.filter__subcat-item
                                a(href="#") Кальяны Стеклянные кальяны
                            li.filter__subcat-item
                                a(href="#") Кальяны Подарочные кальяны

                    .aside__filter
                        p.filter__title Смеси
                        ul.filter__subcat
                            li.filter__subcat-item
                                a(href="#") Кальяны Union Hookah
                            li.filter__subcat-item
                                a(href="#") Кальяны Starbuzz
                            li.filter__subcat-item
                                a(href="#") Кальяны Skyseven
                            li.filter__subcat-item
                                a(href="#") Кальяны Soft Smoke
                            li.filter__subcat-item
                                a(href="#") Кальяны Khalil Mamoon
                            li.filter__subcat-item
                                a(href="#") Кальяны Fabula
                            li.filter__subcat-item
                                a(href="#") Кальяны Стеклянные кальяны
                            li.filter__subcat-item
                                a(href="#") Кальяны Подарочные кальяны

                    .aside__filter.opened
                        p.filter__title Цена
                        .filter__price(style="display: block")
                            #priceSlider
                            .slider-results
                                span#result-min
                                span#result-max

                    .aside__filter.opened
                        p.filter__title Производитель
                        ul.filter__checkbox(style="display: block")
                            li.filter-checkbox
                                input#production_1(type="checkbox", name="production_1")
                                label.filter-label(for="production_1") Alpha hookah
                            li.filter-checkbox
                                input#production_2(type="checkbox", name="production_2")
                                label.filter-label(for="production_2") Amy Deluxe
                            li.filter-checkbox
                                input#production_3(type="checkbox", name="production_3")
                                label.filter-label(for="production_3") Bohemia
                            li.filter-checkbox
                                input#production_4(type="checkbox", name="production_4")
                                label.filter-label(for="production_4") Caesar
                            li.filter-checkbox
                                input#production_5(type="checkbox", name="production_5")
                                label.filter-label(for="production_5") El Khawanky

                            li.filter-show-more
                                a(href="#") Показать ещё

                    .aside__filter.opened
                        p.filter__title Наличие
                        ul.filter__checkbox(style="display: block")
                            li.filter-checkbox
                                input#inStock(type="checkbox", name="inStock")
                                label.filter-label(for="inStock") Есть в наличии
                            li.filter-checkbox
                                input#onOrder(type="checkbox", name="onOrder")
                                label.filter-label(for="onOrder") Под заказ

                    .aside__filter.opened
                        p.filter__title Цвет
                        ul.filter__color(style="display: block")
                            .filter__color-wrap
                                li
                                    input#color_1(type="checkbox", name="color_1")
                                    label.filter-color-label(for="color_1")
                                        span.filter-color(style="background-color: red;")
                                li
                                    input#color_2(type="checkbox", name="color_2")
                                    label.filter-color-label(for="color_2")
                                        span.filter-color(style="background-color: green;")
                                li
                                    input#color_3(type="checkbox", name="color_3")
                                    label.filter-color-label(for="color_3")
                                        span.filter-color(style="background-color: white;")
                                li
                                    input#color_4(type="checkbox", name="color_4")
                                    label.filter-color-label(for="color_4")
                                        span.filter-color(style="background-color: blue;")
                                li
                                    input#color_5(type="checkbox", name="color_5")
                                    label.filter-color-label(for="color_5")
                                        span.filter-color(style="background-color: yellow;")
                                li
                                    input#color_6(type="checkbox", name="color_6")
                                    label.filter-color-label(for="color_6")
                                        span.filter-color(style="background-color: grey;")
                                li
                                    input#color_7(type="checkbox", name="color_7")
                                    label.filter-color-label(for="color_7")
                                        span.filter-color(style="background-color: pink;")
                                li
                                    input#color_8(type="checkbox", name="color_8")
                                    label.filter-color-label(for="color_8")
                                        span.filter-color(style="background-color: orange;")


                    .aside__filter
                        p.filter__title Высота кальяна
                        ul.filter__checkbox
                            li.filter-checkbox
                                input#size_1(type="checkbox", name="size_1")
                                label.filter-label(for="size_1") до 55 см.
                            li.filter-checkbox
                                input#size_2(type="checkbox", name="size_2")
                                label.filter-label(for="size_2") до 70 см.
                            li.filter-checkbox
                                input#size_3(type="checkbox", name="size_3")
                                label.filter-label(for="size_3") до 90 см.
                            li.filter-checkbox
                                input#size_4(type="checkbox", name="size_4")
                                label.filter-label(for="size_4") до 110 см.

                    .aside__filter
                        p.filter__title Тип соединения
                        ul.filter__checkbox
                            li.filter-checkbox
                                input#type_1(type="checkbox", name="type_1")
                                label.filter-label(for="type_1") Составное
                            li.filter-checkbox
                                input#type_2(type="checkbox", name="type_2")
                                label.filter-label(for="type_2") Резьбовое
                            li.filter-checkbox
                                input#type_3(type="checkbox", name="type_3")
                                label.filter-label(for="type_3") Клик

                    .aside__filter
                        p.filter__title Материал шахты
                        ul.filter__checkbox
                            li.filter-checkbox
                                input#type_1(type="checkbox", name="type_1")
                                label.filter-label(for="type_1") Составное
                            li.filter-checkbox
                                input#type_1(type="checkbox", name="type_1")
                                label.filter-label(for="type_1") Нержавеющая сталь
                            li.filter-checkbox
                                input#type_2(type="checkbox", name="type_2")
                                label.filter-label(for="type_2") Алюминий
                            li.filter-checkbox
                                input#type_3(type="checkbox", name="type_3")
                                label.filter-label(for="type_3") Дерево
                            li.filter-checkbox
                                input#type_4(type="checkbox", name="type_4")
                                label.filter-label(for="type_4") Полиацеталь
                            li.filter-checkbox
                                input#type_5(type="checkbox", name="type_5")
                                label.filter-label(for="type_5") Пластик
                            li.filter-checkbox
                                input#type_6(type="checkbox", name="type_6")
                                label.filter-label(for="type_6") Латунь
                            li.filter-checkbox
                                input#type_7(type="checkbox", name="type_7")
                                label.filter-label(for="type_7") Стекло

                .aside__action
                    button.aside__btn-showmore.button-style Показать товары
                    button.aside__btn-reset
                        i.fal.fa-sync
                        span Сбросить фильтры

            .catalog__block

                .catalog__filters

                    button.mobile__filter-btn Фильтр

                    .sorting__filter
                        span.sorting-title Сортировать по:
                        .filter-select
                            select
                                option(value="Сначала дешевле") Сначала дешевле
                                option(value="Сначала дороже") Сначала дороже
                                option(value="По алфавиту") По алфавиту
                                option(value="По популярности") По популярности

                    span.items-quantity Товаров на странице:

                    .columns__filter
                        div.columns__filter-inner
                            select
                                option(value="12") 12
                                option(value="16") 16
                                option(value="20") 20

                        div.columns__filter-inner
                            a.columns_2
                                i.far.fa-line-columns

                            a.columns_1
                                i.far.fa-bars

                .catalog__items

                    include components/_catalog
                    +item("cat-1.jpg", 'Amy 7 Star 054 S Red Mini 50 см', '5 500', '6 500')
                    +item("cat-2.jpg", 'Amy Deluxe "02 Black" 75 см', '650', '1 500')
                    +item("cat-3.jpg", "7 Star 068 S Block 50 см", '350', '500')
                    +item("cat-4.jpg", "7 Star 0208 S Blue 50 см", '1 750', '1 900')
                    +item("cat-5.jpg", "Alpha Hookah Model X Red Matte 40см", '5 500', '6 500')
                    +item("item-1.png", "Кальян Mexanika Smoke Parovoz", '650', '1 500')
                    +item("cat-1.jpg", 'Amy 7 Star 054 S Red Mini 50 см', '5 500', '6 500')
                    +item("cat-2.jpg", 'Amy Deluxe "02 Black" 75 см', '650', '1 500')
                    +item("cat-3.jpg", "7 Star 068 S Block 50 см", '350', '500')
                    +item("cat-4.jpg", "7 Star 0208 S Blue 50 см", '1 750', '1 900')
                    +item("cat-5.jpg", "Alpha Hookah Model X Red Matte 40см", '5 500', '6 500')
                    +item("item-1.png", "Кальян Mexanika Smoke Parovoz", '650', '1 500')

                .catalog__pagination

                    a.show-more(href="#") Показать еще

                    include components/_pagination

                    .promo-bottom
                        p <b>Внимание</b>, мы не продаем табачные изделия лицам младше 18 лет!


    // Advance::Start
    section.section-advance
        .container

            span.section-suptitle Надзаголовок
            h2.section-title Текст для продвижения

            .advance__wrapper
                .advance-col
                    span <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</b>
                    p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantiumodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                .advance-col
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    // Advance::End