---
title: Magix Shisha | Доставка
---

extends includes/_page

block main

    .container

        include components/_breadcrumbs
        +breadcrumbs('Доставка')

        h1.page__title Доставка

    .page__delivery

        .container

            .delivery__top
                .delivery__top-img
                    img(src='/assets/images/delivery.jpg' alt='')

                .delivery__top-content
                    .content__title ДОСТАВКА ПО МОСКВЕ ОСУЩЕСТВЛЯЕТСЯ С 10:00 ДО 21:00 С ПН-ВС ПО МОСКОВСКОМУ ВРЕМЕНИ.
                    .content__title--strong Доставка при оптовом заказе - обсуждается индивидуально
                    .content__list
                        p - доставка в регионы осуществляются всеми удобными для Вас транспортными компаниями. (предпочтительно  (Байкал Сервис, Кит);
                        p - сроки доставки зависят в зависимости от удаленности Вашего региона (можно рассчитать  на сайтах транспортных компаний);
                        p - стоимость доставки Вы оплачиваете на месте при получении товара, с тарифами Вы можете ознакомиться на сайтах транспортных компаний;
                        p - отправка товара в регионы осуществляется только по 100% предоплате товара.

            .delivery__table-wrapper
                table.delivery__table
                    thead
                        tr
                            th Вид доставки
                            th Стоимость
                            th Время
                            th Условия
                    tbody
                        tr
                            td Самовывоз в магазинах
                            td Бесплатно
                            td с 10:00-20:00 ежедневно
                                br
                                | (Большая Юшуньская 1Ак4)
                            td Без дополнительных условий
                        tr
                            td Стандартная курьерская
                                br
                                | доставка
                            td Через сервис
                                br
                                | Достависта за счет покупателя
                            td  Оформленная до 18:00, доставляется
                                br
                                | в этот же день или на следующий
                            td В пределах МКАД Москвы
                        tr
                            td Срочная курьерская
                                br
                                | доставка
                            td Отправка на такси за
                                br
                                | счет Клиента
                            td Оформляется до 20:00
                                br
                                | Доставляется в течении 3-х часов
                            td  Отправка на такси со
                                br
                                | 100% предоплатой
                        tr
                            td Доставка в регионы
                                br
                                | Почта России/СДЭК
                            td Согласно расчету на сайте
                            td Согласно срокам перевозчика
                                br
                                | (+1 рабочий день )
                            td Предоплата 100%
            a.btn__back(href='')
                i.fas.fa-redo
                |  Вернуться назад
