---
title: Magix Shisha | Возврат товара
---

extends includes/_page

block main

    .container

        include components/_breadcrumbs
        +breadcrumbs('Возврат товара')

        h1.page__title Возврат товара

    .page__return-goods
        .container
            .page__return-goods-wrapper
                .page__return-goods-left

                    .page__return-goods-img
                        img(src='/assets/images/return.jpg' alt='')

                    .page__return-goods-left-cont
                        .content--strong Оформление возврата/обмена товара надлежащего качества возможно только при соблюдении следующих условий:
                        .content__list
                            p - товар не был в употреблении;
                            p - сохранен внешний вид и потребительские свойства;
                            p - не повреждена фабричная упаковка, бирки и ярлыки;
                            p - товар не входит в список товаров, не подлежащих возврату.
                        .content-paragraph--black К возврату/обмену не принимается товар надлежащего качества, имеющий индивидуально-определенные свойства.

                .page__return-goods-right
                    .content__title Процедура возврат или обмена товара надлежащего качества
                    p.content-paragraph Оформить запрос на возврат/обмен товара. Запрос оформляется не позднее 7 (семи) дней с момента приобретения товара.
                    p.content-paragraph Распечатать, заполнить и обязательно подписать заявление на возврат/обмен. Приехать в офис компании с заявлением, возвращаемым товаром и документами, подтверждающими факт приобретения товара в нашем магазине для проведения первичной экспертизы и оформления процедуры возврата.
                    p.content-paragraph Интернет-магазин оставляет за собой право проведения дополнительной экспертизы в установленные Законом сроки.
                    p.content-paragraph Денежные средства за возвращенный товар надлежащего качества возвращаются в течение 5 (пяти) рабочих дней, в случаях, когда товар был приобретен за наличные денежные средства; и в течение 10 (десяти) рабочих дней, если товар был оплачен банковским переводом или банковской картой.
                    p.content-paragraph
                        strong  Внимание!
                        |  Стоимость доставки товара не подлежит возврату.

            a.btn__back(href='')
                i.fas.fa-redo
                |  Вернуться назад
